.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 90vh; */
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.wrapper {
  width: 100%;
  height: calc(100% - 100px);
  max-width: 550px;
  /* margin: auto; */
}

.walletHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2rem;
}

.addressInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.addressInfo > p {
  width: 100%;
  text-align: end;
}

.addressOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100vw - 207px);
}

.networkInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  box-shadow: 0px 0px 3px 0px lightgrey;
  padding: 0.5rem;
}

.networkInfo > h2 {
  width: 100%;
}

.networkInfo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.networkName {
  margin-left: 1rem;
}

.walletAddress {
  font-size: 1.2rem;
}

.button {
  position: relative;
  border: none;
  border-style: none;
  outline: 0;
  box-sizing: border-box;
  box-shadow: "none";
  border-radius: 8px;
  padding: 0.8rem;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: 600;
}

.containedButton {
  color: #fff;
  border: 1px solid #fff;
  background-color: #335eea;
}

.outlinedButton {
  background-color: #fff;
  border: 1px solid #335eea;
  color: #335eea;
}

.disconnectLabel {
  color: dimgray;
}

.disconnectLabel:hover {
  color: #335eea;
  cursor: pointer;
}

.about {
  min-height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
